:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	--background-color: #ffffff;
	--text-color: #27272a;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

[data-theme="dark"] {
	/* ------- dark mode colors ------- */
	--primary-color: #e4e4e7;
	--secondary-color: #a1a1aa;
	--tertiary-color: #71717a;
	--quaternary-color: #3f3f46;
	--link-color: #5eead4;
	--background-color: #18181b;
	--text-color: #fafafa;
	/* --------------------------------- */
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}
